@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,100,100italic,300,300italic,400italic,500,500italic,700,700italic);
body {
	font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-weight: 100;
	line-height: 1.25em;
}
h3, h4, h5, h6 {
	font-weight: 300;
}
h1 {
	font-size: 4.75rem;
}
h2 {
	font-size: 3.75rem;
}
h3 {
	font-size: 3.5rem;
	font-weight: 400;
	letter-spacing: 0.15rem;
}
h3.panel-title {
	margin-right: 2em;
}
h4 {
	font-size: 2.25rem;
}
h5, h6 {
	font-size: 2rem;
}
h6 { 
	font-weight: 100;
}

body, p {
	font-size: 1.75rem;
	line-height: 1.75em;
	font-weight: 300;
	letter-spacing: 0.05em
}

strong {
	font-weight: 400;
}

.home {
	p:first-of-type {
		font-size: 1.5 * 1.75rem;
		line-height: 1.65em;
		letter-spacing: 0.05em;
	}
}

.cat.archive {
	img {
		margin-bottom: 1rem;
	}
}


