// Add padding for fixed footer
.wrap.container {
  margin-bottom: 125px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
	text-align: center;
	color: #dedede;
	background-color: #333;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	height: auto;
	a {
		color: #eee;
	}
}
