header.banner {
	background-color: #333;
	.brand {
		display: block;
		font-size: 2.5rem;
		line-height: 2em;
		color: #eee;
	}
	nav {
		a {
			color: #ddd;
			box-sizing: border-box;
			&:hover, &:active, &.active {
				background: #444;
				border: 1px solid #444;
				border-bottom: none;
			}
			&:hover.active {
				background: #555;
			}
		}

		ul {
			border-bottom: none;
		}
	}
}
.dropdown-menu {
  li {
    a {
      color: #333 !important;
      font-size: 1.1em;
      &:hover {
        color: white !important;
        font-weight: 300;
      }
    }
  }
}
