// Force page to fill parent element
.main, #page {
  width: 100% !important;

}

// Constrain cat articles to max of image width and viewport
.cat {
  max-width: 800px;
}
.cat img {
  max-width: 100% !important;
}
